
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --orange:#ffa500;
}

*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection{
    background: var(--orange);
    color: white;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
section{
    padding: 2rem 9%;
}
.heading{
    text-align: center;
    padding: 2.5rem 0;
}
.heading span{
    font-size: 3.5rem;
    background: rgba(255,155,0, .2);
    color: var(--orange);
    border-radius: .5rem;
    
    padding: .2rem 1rem;
}
.heading span.space{
    background: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #333;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}
header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}
header .logo span{
    color: var(--orange);
}
header .navbar a{
    color: #fff;
    font-size: 1.5rem;
    margin: .5rem;
}
header .navbar a:hover{
    color: var(--orange);
}
header .icons i{
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    margin-right: 2rem;

}
header .icons i:hover{
    color: var(--orange);
}
header .search-bar-container{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1.5rem 2rem;
    background: #333;
    border-top: .1rem solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0,100% 0,100% 0,0 0);
}
header .search-bar-container.active{
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
}
header .search-bar-container #search-bar{
    width: 100%;
    padding: 1rem;
    text-transform: none;
    color: #333;
    font-size: 1.7rem;
    border-radius: .5rem;
}
header .search-bar-container label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}
header .search-bar-container label:hover{
    color: var(--orange);
}
body{
    height: 200rem;
}
.home{
    position: absolute;
    top: 25%;
    padding: 5rem;
}
.home .content{
    transition: var(--orange);
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}
.home .content h3{
    font-size: 4.5rem;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0, 0,0,.1);
}
.home .content p{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #4a050a;
    
    padding: .5rem 0;
}
.data{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.data .form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: #af9b35;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: var(--orange);
}
footer{
    padding-top: 60px;
}
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 100%;
}
.footer-content h3{
    color: #051f3f;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    text-align: center;
}
.footer-content p{
    width:450px;
    font-size: 15px;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    font-size: 15px;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color: #f18930;
}
.social-icons i:hover{
    color: #f18930;
}
.bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 1.5px 0;
    margin-top: 5px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 10px;
    padding: 5px;
}
.service h2{
    text-align: center;
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
}
.service .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.service .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
}
.service .box-container .box i{
    padding: 1rem;
    font-size: 5rem;
    color: var(--orange);
}
.service .box-container .box h3{
    
    font-size: 2.5rem;
    color: #333;
}
.service .box-container .box p{
    
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}
.service .box-container .box:hover{
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
.log{
    position: fixed;
    top:-120%; left: 0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.log form{
    margin:2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: #fff;
    width: 50rem;
}
.log form h3{
    font-size: 3rem;
    color: #444;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}
.log form .box{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin: .6rem 0;
    border: .1rem solid rgba(0, 0, 0, 0.3);
    text-transform: none;
}
.log form .box:focus{
    border-color: var(--orange);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    background: var(--orange);
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid var(--orange);
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background: rgba(0, 0, 0, 0.1);
    color: var(--orange);
}
.log form label{
    font-size: 1.5rem;
}
.log form .btn{
    display:block;
    width: 100%;
}
.log form p{
    padding: .5rem 0;
    font-size: 1.5rem;
    color: #666;
}
.log form p a{
    color: var(--orange);
}
.log form p a:hover{
    color: #333;
    text-decoration: underline;
}
.log #fclose{
    position: absolute;
    top: 2rem; right: 3rem;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
}
.log.active{
    top: 0;
}
